.navBar {
  position: fixed;
  width: 100vw;
  height: 48px;
  background-color: black;
  z-index: 100;
  @media screen and (min-width: 1024px) {
    height: 112px;
  }
  .relative-container {
    position: relative;
    width: 100%;
    height: 100%;
    .progress-bar {
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: 0;
      background-color: #E9FF63;
    }
    .coderhouse {
      width: 98px;
      position: absolute;
      top: 14px;
      left: 16px;
      cursor: pointer;
      @media screen and (min-width: 1024px) {
        width: 258px;
        top: 31px;
        left: 65px;
      }
    }
    .desktop-menu {
      position: absolute;
      top: 49px;
      right: 40px;
      width: 600px;
      height: 24px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      @media screen and (min-width: 1920px) {
        width: 850px;
      }
      .desktop-menu-item {
        cursor: pointer;
        color: white;
        text-decoration: none;
        font-family: $US-regular;
        font-size: 16px;
        line-height: 24px;
        border-bottom: 2px solid transparent;
        @media screen and (min-width: 1920px) {
          font-size: 20px;
          line-height: 28px;
        }
        &:hover {
          border-bottom: 2px solid #EAFF6A;
        }
        &.active {
          border-bottom: 2px solid #EAFF6A;
        }
      }
      .boton-reservar {
        cursor: pointer;
        color: #1E1E1E;
        text-decoration: none;
        font-family: $US-medium;
        font-size: 16px;
        line-height: 24px;
        width: 200px;
        height: 48px;
        background: #EA90FF;
        display: flex;
        justify-content: center;
        align-items: center;
        @media screen and (min-width: 1920px) {
          font-size: 20px;
          line-height: 28px;
          width: 240px;
          height: 58px;
        }
      }
    }

    nav {
      position: absolute;
      top: 0;
      right: 0px;
      bottom: 0;
      width: 240px;
      height: 640px;
      pointer-events: none;
      .menu-background {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        pointer-events: none;
      }
  
      button {
        outline: none;
        border: none;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        cursor: pointer;
        position: absolute;
        top: 12px;
        right: 12px;
        width: 24px;
        height: 24px;
        background: transparent;
        -webkit-filter: invert(1);
        filter: invert(100%);
        pointer-events: auto;
      }
  
      ul,
      li {
        margin: 0;
        padding: 0;
      }
  
      ul {
        position: absolute;
        top: 96px;
        right: 0;
        padding-right: 32px;
        width: 100%;
      }
  
      li {
        list-style: none;
        display: flex;
        justify-content: flex-end;
        font-family: $US-regular;
        color: white;
        margin-bottom: 16px;
        a {
          text-decoration: none;
          cursor: pointer;
          color: white;
          pointer-events: auto;
        }
        .menu-logo {
          width: 90px;
          display: flex;
          justify-content: flex-end;
          pointer-events: none;
        }
        .menu-option {
          font-size: 16px;
          width: 100%;
          margin-right: 8px;
          text-align: end;
        }
      }
    }
  }
}